h1 {
    text-align: center;
    color: purple;
    
  }
img{
    align-items: center;
}
.frontline{
    text-align: center;
    color: purple;
    font-weight: bold;
}
.battery{
    text-align: center;
    color: purple;
    font-weight: bold;
}